<%= stylesheet_link_tag "problems.css" %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<%= javascript_include_tag "/assets/nerdamer/nerdamer.core" %>
<%= javascript_include_tag "/assets/nerdamer/Algebra" %>
<%= javascript_include_tag "/assets/nerdamer/Calculus" %>
<%= javascript_include_tag "/assets/nerdamer/Solve" %>
<%= javascript_include_tag "/assets/nerdamer/Extra" %>

<div class="row" style="margin-top: 10vh;">
  <div class="col s4 offset-s1">
    <div class="row">
      <div class="image_box box_shadow" id="problem_box">
        <div class="scroll_problem " id="problem_text">
          <p>
            <%=raw @problem.problem_html%>
          </p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col s12 round_button box_shadow">
          <text id = "answer_converted">답안  </text>
        </div>
      </div>
    </div>
    <%= form_for(:mark, url: mark_path(@problem, ) )do |f| %>
    <div class="row">
      <div class="col s8 round_button box_shadow"id="input_box" >
        <!-- 이렇게하면 영문만(숫자포함) 입력 됨 //이메일 아이디 같은거 입력을 만들때 -->
        <%= f.text_field :user_answer, :placeholder => '수 식  입 력', id:"textarea", :onchange =>'fn_press_han(this)' %>
      </div>
      <div class="col s4">
        <span class= "round_button box_shadow" id = "submit_button">제 출</span>
          <!-- <%= f.submit '제  출', class:" round_button box_shadow", id:"submit_button" %> -->
      </div>
    </div>
    <% end%>
  </div>
  <div class="col s5">
    <div class="image_box box_shadow" id="answer_box">

      <div class="scroll_problem ">
        <div id = "solution" style = "display: none;">
          <%= @problem.solution_html%>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 round_button box_shadow disabled_button" id="see_answer">정  답  보  기</div>
      <div class="col s12 round_button box_shadow disabled_button" id="next_problem">다 음  문 제</div>
    </div>
  </div>
</div>

  </div>


</div>

<script>

var tried_solving = false;
function fn_press_han(obj)
{
    //좌우 방향키, 백스페이스, 딜리트, 탭키에 대한 예외
    if(event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39
    || event.keyCode == 46 ) return;
    //obj.value = obj.value.replace(/[\a-zㄱ-ㅎㅏ-ㅣ가-힣]/g, '');
    obj.value = obj.value.replace(/[\ㄱ-ㅎㅏ-ㅣ가-힣]/g, '');
};
var DynamicMJ = {
  formula: document.getElementById("answer_converted"),

  update: function () {
    var user_answer = document.getElementById("textarea").value;
    var tex = '\\( '+ nerdamer(user_answer).toTeX()+' \\)';
    this.formula.innerHTML = tex;
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,this.formula]);
  }
};

function check_answer(){
  var diff =nerdamer($('#textarea').val()+ '-'+'<%=@problem.answer%>');
  var isCorrect = diff == '0';
  var result = false;
  if(isCorrect){
    alert("정답!");
    result = 1;


  }
  else{
    alert("틀림 ㅠㅠ");
    result = 0;
  }
  if(!tried_solving){
      $.ajax({
          url : '<%=mark_path %>',
          type: 'post',
          data: {
              user_id: <%=session[:user_id]%>,
              exam_id: <%=session[:exam_id]%>,

              problem_id : <%=params[:id]%>,
              result: result
          },
          success: function(){
              alert("checked answer");

          }
      });
  }

};
$(document).on('keyup','#textarea',function(){
  DynamicMJ.update();
});
$(document).on('click','#submit_button',function(){
  check_answer();
  tried_solving = true;
  $('#see_answer').removeClass('disabled_button');
  $('#next_problem').removeClass('disabled_button');
});
$(document).on('click','#see_answer', function(){
  if(tried_solving){
    $('#solution').show();
  }
});
$(document).on('click','#next_problem', function(){
    var next = '<%=@problem.next_problem%>';
    if(next =='NaN') {
        location.href = '/recommend';
    }
    else{
        <% if @problem.next_problem !='NaN'%>
        location.href = '/problems/'+'<%= Problem.find_by(name: @problem.next_problem).id%>';
        <%end%>

    }

});
</script>
