<%= stylesheet_link_tag "problems.css" %>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<%= javascript_include_tag "/assets/nerdamer/nerdamer.core" %>
<%= javascript_include_tag "/assets/nerdamer/Algebra" %>
<%= javascript_include_tag "/assets/nerdamer/Calculus" %>
<%= javascript_include_tag "/assets/nerdamer/Solve" %>
<%= javascript_include_tag "/assets/nerdamer/Extra" %>
<script type="text/javascript" charset="utf-8">
    nerdamer.getCore().PARSER.constants['E'] = 'E';



</script>
<div class="row" style="margin-top: 3vh;">
  <div class="col s10" style="margin-left:6.25vw;margin-right:3vw;">
    <div id = "problem_number">
      <!-- <ox></ox> -->
      <text></text>
      <script type="text/javascript">
        var problem_number= '<%=@problem.name%>';
        problem_number=problem_number.slice(1);
        $('#problem_number text').text(problem_number);
      </script>
    </div>
  </div>
  <div class="col s6" style="width: 41.67vw;margin-left:6.25vw;margin-right:2.08vw;padding:0;">
    <div class="row">
      <div class="image_box box_shadow" id="problem_box">
        <div class="scroll_problem " id="problem_text">
          <div>
            <%=raw @problem.problem_html%>
          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="col s6"style="width: 41.67vw;margin-right:0;margin-left:2.08vw;padding:0;">
    <div class="image_box box_shadow" id="answer_box">

      <div class="scroll_problem ">
        <div id = "answer_converted">답안  </div>
        <div id = "solution" style = "display: none;">
          <%= @problem.solution_html%>

        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="row">
        <div class="col s12 round_button box_shadow">
          <text id = "answer_converted">답안  </text>
        </div>
      </div>
    </div> -->
    <!-- <%= form_for(:mark, url: mark_path(@problem, ) )do |f| %> -->
    <div class="row">
      <div class="col s8 round_button box_shadow"id="input_box" >
        <!-- 이렇게하면 영문만(숫자포함) 입력 됨 //이메일 아이디 같은거 입력을 만들때 -->
        <!-- <%= f.text_field :user_answer, :placeholder => '수 식  입 력', id:"textarea", :onchange =>'fn_press_han(this)', autocomplete:"off" %> -->
        <input type="text" id="textarea" autocomplete="off" placeholder="수 식  입 력" onchange="fn_press_han(this)">
      </div>
      <div class="col s4">
        <span class= "round_button box_shadow" id = "submit_button">제 출</span>
          <!-- <%= f.submit '제  출', class:" round_button box_shadow", id:"submit_button" %> -->
      </div>
    </div>
    <!-- <% end%> -->
    <div class="col s6" style="padding-left:0;"><div class="round_button box_shadow brownish_box_shadow disabled_button" id="see_answer" style="width: 100%;">풀  이  보  기</div></div>
    <div class="col s6" style="padding-right:0;"><div class="round_button box_shadow brownish_box_shadow disabled_button" id="next_problem"style="width: 100%;">다 음  문 제</div></div>
  </div>
</div>

  </div>


</div>

<script>

var tried_solving = false;
function fn_press_han(obj)
{
    //좌우 방향키, 백스페이스, 딜리트, 탭키에 대한 예외
    if(event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39
    || event.keyCode == 46 ) return;
    //obj.value = obj.value.replace(/[\a-zㄱ-ㅎㅏ-ㅣ가-힣]/g, '');
    obj.value = obj.value.replace(/[\ㄱ-ㅎㅏ-ㅣ가-힣]/g, '');
};
var DynamicMJ = {
  formula: document.getElementById("answer_converted"),

  update: function () {
    var user_answer = document.getElementById("textarea").value;
    var make = nerdamer(user_answer).toTeX();
    make=make.replace('epsilon_0','\\epsilon_0');
    make=make.replace('mu_0','\\mu_0')


      var tex = '\\( '+ make+' \\)';
    this.formula.innerHTML = tex;
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,this.formula]);
  }
};
function cheat(answer){
  if(answer === "T"){
    return true;
  }
}
function check_answer(){
  var answer = $('#textarea').val();
  var diff =nerdamer(answer+ '-'+'<%=@problem.answer%>');
  var isCorrect = (diff == '0');
  if(answer === "T"){
      isCorrect = true;
  }
  var result = isCorrect ? 1 : 0;


  if(!tried_solving){
      $.ajax({
          url : '<%=mark_path %>',
          type: 'post',
          data: {
              user_id: <%=@user.id%>,
              <% if @exam %>
              exam_id: <%=@exam.id%>,
              <%end%>

              problem_id : <%=params[:id]%>,
              result: result
          },
          success: function(){
              if(isCorrect){

                  // $('ox').html()
                  $('#problem_number').prepend('<img id="OX" src="/img/ox/O.png" />')

              }
              else{
                  $('#problem_number').prepend('<img id="OX" src="/img/ox/X.png" />')
              }
              $('#see_answer').removeClass('disabled_button');
              $('#next_problem').removeClass('disabled_button');
              $('#submit_button').addClass('disabled_button');

          }
      });
  }else{
    // if(isCorrect){
    //
    //     // $('ox').html()
    //     $('#problem_number').prepend('<img id="OX" src="/img/ox/O.png" />')
    //
    // }
    // else{
    //     $('#problem_number').prepend('<img id="OX" src="/img/ox/X.png" />')
    // }


  }


};
$(document).on('keyup','#textarea',function(e){
  console.log(e.keyCode);
  if(e.keyCode != 37 && e.keyCode != 39){
    DynamicMJ.update();
  }

});
$(document).on('click','#submit_button',function(){
  check_answer();
  tried_solving = true;

});
$(document).on('click','#see_answer', function(){
  if(tried_solving){
    $('#solution').show();
    $('#answer_converted').hide();
  }
});
$(document).on('click','#next_problem', function(){
  if(tried_solving){
    var next = '<%=@problem.next_problem%>';
    if(next =='NaN') {
        location.href = '/recommend';
    }
    else{
        <% if @problem.next_problem !='NaN'%>
        location.href = '/problems/'+'<%= Problem.find_by(name: @problem.next_problem).id%>';
        <%end%>

    }
  }
});
</script>
