<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

<link rel="stylesheet" href="list_fontello/css/fontello.css">
<%= stylesheet_link_tag "index6" %>
<%= stylesheet_link_tag "levels" %>
<%= stylesheet_link_tag "levels_chart" %>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "levels_list" %>
  <%= javascript_include_tag "levels_chart" %>
<% end %>

<div class="row" style="margin-top: -20px;  margin-bottom: 0; height: 92.75vh;">
  <div class="col s3 m4 l3" style="height: 100%;" id = "nav">
    <!-- Grey navigation panel -->
    <ul>
    </ul>
  </div>
  <div class="col s9 m8 l9" style = "height: 100%;" id = "content">
    <!-- Teal page content  -->
    <div id="default_page">
      <img src="" alt="Three Deers">
      <p>각 단원을 클릭하여 성취도를 확인하세요!</p>
    </div>
    <div class="chart_content">
      <canvas id="myChart" width="auto" height="auto"></canvas>
    </div>
  </div>
</div>



<script>
    function Pattern(){
        this.name ='';
        this.level = 0;
    }

    function Chapter(){
        this.name ='';
        this.patterns = [];
        this.onStudy = 0;
        this.onExam = 0;
        this.level =0 ;
    }
    function Subject(){
        this.name ='';
        this.chapters =[];
        this.onExam = 0;
        this.onStudy = 0;
    }
    function Test(){
        this.id=0;
        this.name='';
        this.subjects =[];
    }
    function User(){
        this.name='' ;
        this.tests =[];
    }
    var current_user = new User();
    current_user.name= '<%= @user.username%>';
    var test_js;
    var subject_js;
    var chapter_js;
    var pattern_js;
    <% @user.exams.each do |exam| %>
      test_js = new Test();
      test_js.name = '<%=exam.name%>';
      test_js.id = <%=exam.id%>;
      <% exam.subjects.each do |subject| %>
        subject_js=new Subject();
        subject_js.name = '<%= subject.name %>';
        subject_js.onExam = <%=subject.onExam%>;

        <% subject.chapters.each do |chapter| %>
          chapter_js=new Chapter();
          chapter_js.name = '<%= chapter.name %>';
          chapter_js.level = <%= chapter.level %>;
          chapter_js.onExam = <%= chapter.onExam %>;

          <% chapter.groups.each do |group| %>
            pattern_js = new Pattern();
            pattern_js.name = '<%=group.name%>';
            pattern_js.level = '<%=group.level%>';
            chapter_js.patterns.push(pattern_js);

          <% end%>
          subject_js.chapters.push(chapter_js);
        <%end%>
        test_js.subjects.push(subject_js);
      <% end %>
      current_user.tests.push(test_js);

    <% end %>
    var test;
    var subject;
    var chapter;
    var pattern;

    for (var i=0; i<current_user.tests.length;i++){
        test = current_user.tests[i];
        for(var j=0;j<test.subjects.length;j++){
            subject = test.subjects[j];
            for(var k=0;k<subject.chapters.length;k++){
                chapter = subject.chapters[k];
                for(var l=0;l<chapter.patterns.length;l++){
                    pattern = chapter.patterns[l];

                }
            }
        }
    }
</script>
