<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- including jQuery and jQuery-ui(for dialog) -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

</head>

<body style="font-family: AppleSDGothicNeo; height: 100%;" >

<div class="row" style="background-color: #d8f4ff">
  <div class="left-align" style="border:0%; font-size:1vw;height:1vh;">
    <% if current_user %>
        <%= current_user.username %><%= link_to "Log out", logout_path, method: :destroy %>
    <% else %>
        <%= link_to "Login", 'login' %><%= link_to "Signup", 'signup' %>
    <% end %>
  </div>

  <!--"font-size: 2vw;width:25vw ;padding:0;"-->

  <div class="center-align"style="height:7vh; margin-right:6.25vw; margin-left:6.25vw;padding:0;">
    <a href="/"><div class="col s4 air_nav" style="width: 26.333%">A   I   R</div></a>
    <a href="/list6"><div class="col s2 hoverable air_nav">시험범위</div></a>
    <a href="/problems"><div class="col s2 hoverable air_nav">문제풀기</div></a>
    <a href="http://naver.com"><div class="col s2 hoverable air_nav">내성취도</div></a>
    <a href="/login"><div class="col s2 hoverable air_nav">로그인/회원가입</div></a>
  </div>
</div>
  <%= yield %>
</body>
</html>


<style>
.air_nav{
  width: 12.5vw;
   height:6vh;
   padding:0;
  color: inherit;
  display: flex;justify-content: center;align-items:center;/*Vertical centering*/
  height: 100%;
  text-align: center;
      /*padding-bottom: 1.5rem;
  padding-top: 2rem;*/
  font-size: 1.5vw;
  color: black;
}
</style>
