<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<div class="row" style="background-color: #d8f4ff">
  <div class="left-align" style="border:0%; font-size:1vw;">
    <% if current_user %>
        <%= current_user.username %><%= link_to "Log out", logout_path, method: :destroy %>
    <% else %>
        <%= link_to "Login", 'login' %><%= link_to "Signup", 'signup' %>
    <% end %>
  </div>

  <div class="center-align">
    <a href="/" style="color: inherit;"><div class="col s2 " style="padding-bottom: 0%;padding-top: 0.5%; font-size: 3vw;">A   I   R</div></a>
    <a href="http://naver.com" style="color: inherit;"><div class="col s2 hoverable air_nav" style="padding-bottom: 2%;padding-top: 1.5%;">홈</div></a>
    <a href="http://naver.com" style="color: inherit;"><div class="col s2 hoverable air_nav" style="padding-bottom: 2%;padding-top: 1.5%;">시험범위</div></a>
    <a href="http://naver.com" style="color: inherit;"><div class="col s2 hoverable air_nav" style="padding-bottom: 2%;padding-top: 1.5%;">문제풀기</div></a>
    <a href="http://naver.com" style="color: inherit;"><div class="col s2 hoverable air_nav" style="padding-bottom: 2%;padding-top: 1.5%;">내성취도</div></a>
    <a href="/login" style="color: inherit;"><div class="col s2 hoverable air_nav" style="padding-bottom: 2%;padding-top: 1.5%;">로그인/회원가입</div></a>
  </div>
</div>
<div class="container center-align">
  <%= yield %>
</div>
</body>
</html>


<style>
.air_nav{
  padding-bottom: 1.5rem;
  padding-top: 2rem;
  font-size: 1.5vw;
  color: black;
}
</style>
