<!DOCTYPE html>
<html>
<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- import pure css -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <!-- open graph property -->
    <meta property="og:title" content="인공지능 문제 추천 시스템">
    <meta property="og:description" content="AIR와 함께 맞춤형 문제들을 통해 효과적인 공부를 해보세요!">
    <meta property="og:imate" content="/img/air_logo/4.png">

  <!-- favicon property -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>


  <!--Import materialize.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- including jQuery and jQuery-ui(for dialog) -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <!-- <%= javascript_include_tag "application" %> -->
  <%= yield :javascript_includes %>
  <%= stylesheet_link_tag "application" %>

</head>

<body style="font-family: AppleSDGothicNeo; height: 100%;" >

<!-- <div class="pure-g" style="background-color: #d8f4ff">
  <div class="left-align" style="border:0%; font-size:1vw;height:1vh;">
    <% if current_user %>
        <%= current_user.username %><%= link_to "Log out", logout_path, method: :destroy %>
    <% else %>
        <%= link_to "Login", 'login' %><%= link_to "Signup", 'signup' %>
    <% end %>
  </div>
  <div class="center-align"style="height:7vh; margin-right:6.25vw; margin-left:6.25vw;padding:0;">
    <a href="/"><div class="pure-u-4-12 air_nav" style="width: 26.333%">A   I   R</div></a>
    <a href="/list6"><div class="pure-u-2-12 hoverable air_nav">시험범위</div></a>
    <a href="/problems"><div class="pure-u-2-12 hoverable air_nav">문제풀기</div></a>
    <a href="/levels"><div class="pure-u-2-12 hoverable air_nav">내성취도</div></a>
    <a href="/login"><div class="pure-u-2-12 hoverable air_nav">로그인/회원가입</div></a>
  </div>
</div> -->


<div class="row" style="background-color: #d8f4ff">
  <!-- <div class="left-align" style="border:0%; font-size:1vw;height:1vh;">
  </div> -->
  <div class="center-align"style="height:10vh; padding:0;">
    <!-- <a href="/"><div class="col s4 air_nav" style="width: 26.333%"><img src="/img/logos/top_logo.png" alt="A   I   R" style="width: 10vw;"></div></a> -->
    <a href="/"><div class="col s2 air_nav" style="width: 25%"><img src="/img/logos/top_left.png" alt="A   I   R" style="height:8vh; padding: 0;"></div></a>
    <a href="/list6"><div class="col s2 hoverable air_nav"style="width: 12.5%">시험범위</div></a>
    <a href="/recommend"><div class="col s2 hoverable air_nav"style="width: 12.5%">문제풀기</div></a>
    <a href="/levels"><div class="col s2 hoverable air_nav"style="width: 12.5%">내성취도</div></a>
    <% if current_user %>
      <a href="/logout"><div class="col s2 hoverable air_nav"style="width: 12.5%">로그아웃</div></a>
      <div class="col s2 air_nav" style="width: 25%"><%= current_user.username %></div>

    <% else %>
      <a href="/login"><div class="col s2 hoverable air_nav"style="width: 12.5%">로그인</div></a>
    <% end %>

  </div>
</div>
  <%= yield %>
</body>
</html>


<style>
.air_nav{
  width: 12.5vw;
   height:6vh;
   padding:0;
  color: inherit;
  display: flex;justify-content: center;align-items:center;/*Vertical centering*/
  height: 100%;
  text-align: center;
      /*padding-bottom: 1.5rem;
  padding-top: 2rem;*/
  font-size: 1.5vw;
  color: black;
}
</style>
